.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  position: relative;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:hover {
  z-index: 1;
  transform: translateY(-20px) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(76, 0, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  animation: float 10s linear infinite;
  z-index: 0; 
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(80vh);
      opacity: 0;
  }
}

.modal-title{
  text-align: center;
}
@keyframes move {
  to {
    transform: translateY(-50px) translateX(20px);
    opacity: 0;
  }
}

.btn-success {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #28a745;
  border: 1px solid #28a745;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
  text-decoration: none; /* Elimina el subrayado del enlace */
}
